<div class="chat-sidebar">
  <div class="current-user">
    <img src="/images/default-avatar.png" alt="<%= user.username %>" />
    <span><%= user.username %></span>
  </div>

  <div class="conversation-list">
    <h3>Conversations</h3>
    <% if (conversations && conversations.length > 0) { %> <%
    conversations.forEach(conversation => { %>
    <div
      class="conversation-item"
      data-recipient-id="<%= conversation.userId %>"
    >
      <img
        src="/images/default-avatar.png"
        alt="<%= conversation.username %>"
      />
      <div class="conversation-details">
        <div class="username"><%= conversation.username %></div>
        <div class="last-message">
          <%= conversation.lastMessage || 'Start a conversation' %>
        </div>
      </div>
    </div>
    <% }); %> <% } else { %>
    <div class="no-conversations">No conversations yet.</div>
    <% } %>
  </div>
</div>
